{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.pricing.pricing.enable }}
{{ with $data.pricing.pricing }}
{{"<!-- Start Pricing section -->" | safeHTML}}
<section id="pricing" class="pricing section bg-one">
  <div class="container">
    <div class="row justify-content-center">

      {{"<!-- section title -->" | safeHTML}}
      <div class="col-lg-12">
        <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
						{{ with .title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
        <h5 style="text-align: center;">Flexible Pricing options based on scale and traffic volumes</h5>
        <br>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ range .pricing_table }}
      {{"<!-- single pricing table -->" | safeHTML}}
      <div class="col-lg-3 col-md-6 col-12 text-center wow fadeInUp" data-wow-duration="200ms">
        <div class="price-item" style="margin-bottom: 0; padding-bottom: 0">

          {{"<!-- plan name & value -->" | safeHTML}}
          <div class="price-title">
            <h3>{{ .name }}</h3>
        
          </div>

          {{"<!-- plan description -->" | safeHTML}}
          <ul>
            {{ range .services }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>

        
        </div>
      </div>
      {{"<!-- end single pricing table -->" | safeHTML}}
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /pricing -->" | safeHTML}}
{{ end }}
{{ end }}